.etc/
bin/linux/debug/*
bin/linux/release/*
bin/windows/debug.*
bin/windows/release.*
obj/linux/debug/*
obj/linux/release/*
obj/windows/debug.*
obj/windows/release.*
src/__pycache__/*
build.sh
DanmakuPRC-debug
DanmakuPRC-release
README.md.backup
setup.sh
